
<h3>Add Item</h3>
<form class="e-form" [formGroup]="formGroup" >
    <!-- <mat-form-field class="full-width-field">
        <input matInput formControlName="itemName" placeholder="Item Name">
    </mat-form-field> -->
    <mat-form-field>
        <mat-label>Item</mat-label>
        <mat-select formControlName="itemName">
            <mat-option [value]="item" *ngFor="let item of ['Milk','Bread']">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="full-width-field">
        <input matInput formControlName="price" type="number" placeholder="Price">
    </mat-form-field>
    <input type="submit" (click)="onSave($event)" value="Submit"/>
</form>

<code>
    {{ formGroup.value | json}}
</code>