.green{
    background-color: aquamarine;
}
.yellow{
    background-color: lightgoldenrodyellow;
}
.red{
    background-color: pink;
}
.blue{
    background-color: skyblue;
}
.gray{
    background-color: gray;
}
.grey{
    background-color: gray;
}
